/* cadastro.css */
.cadastro-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: 200px;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.input-field {
    width: 350px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
